{% extends 'base.html' %}
{% block content %}
    <h1>Top Statistics</h1>
        <div class = "row">
            <div class = "col">
                <h2>Editions</h2>
                <h3>{{ editions }}</h3>
            </div>
             <div class = "col">
                <h2>Hosts</h2>
                <h3>{{ cities }}</h3>
            </div>
             <div class = "col">
                <h2>Sports</h2>
                <h3>{{ sports }}</h3>
            </div>
    </div>
    <div class = "row">
         <div class = "col">
                <h2>Events</h2>
                <h3>{{ events }}</h3>
            </div>
             <div class = "col">
                <h2>Nations</h2>
                <h3>{{ nations }}</h3>
            </div>
             <div class = "col">
                <h2>Athletes</h2>
                <h3>{{ athletes }}</h3>
            </div>
       </div>

       <div class="chart-container">
        <h2>Participating Nations over the years</h2>
        {{ chart1 | safe }}
    </div>
     <div class="chart-container">
         <h2>Events over the years</h2>
        {{ chart2 | safe }}
    </div>
    <div class="chart-container">
         <h2>Athletes over the years</h2>
        {{ chart3 | safe }}
    </div>
    <div class="chart-container">
         <h2>No. of Events over time(Every Sport)</h2>
        {{ chart4 | safe }}
    </div>
   
    

{% endblock %}