<!DOCTYPE html>
<html>
<head>
    <title>Olympics Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.plot.ly/plotly-2.27.0.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="sidebar">

            <form method="GET" action="/">
                <select name="option" id="option-select" onchange="this.form.submit()" size="4">
                    <option value="medal_tally" {% if request.args.get('option') == 'medal_tally' or not request.args.get('option') %} selected {% endif %}>Medal Tally</option>
                    <option value="overall_analysis" {% if request.args.get('option') == 'overall_analysis' %} selected {% endif %}>Overall Analysis</option>
                    <option value="country_analysis" {% if request.args.get('option') == 'country_analysis' %} selected {% endif %}>Country-wise Analysis</option>
                    <option value="athlete_analysis" {% if request.args.get('option') == 'athlete_analysis' %} selected {% endif %}>Athlete-wise Analysis</option>
                </select>
            </form>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>