{% extends 'base.html' %}
{% block content %}
    <h1>Country-wise Analysis</h1>
     <form method="POST">
        <label for="country_select">Select Country:</label>
            <select name="country_select" id="country_select">
                 {% for country in country_list %}
                    <option value="{{ country }}" {% if country == selected_country %} selected {% endif %}> {{ country }} </option>
                 {% endfor %}
            </select>
        <br>
        <button type="submit">Submit</button>
    </form>
    
     {% if chart1 %}
       <h2>Year-wise Medal Count for {{selected_country}}</h2>
        <div class="chart-container">
            {{ chart1 | safe }}
         </div>
     {% endif %}
     
    {% if chart2 %}
      <h2>Country Event Heatmap for {{selected_country}}</h2>
        <div class="chart-container">
            {{ chart2 | safe }}
        </div>
    {% endif %}
   
{% endblock %}